torch>=2.2.0
torchvision>=0.17.0
transformers>=4.37.2
Pillow>=10.2.0
streamlit>=1.31.0
gTTS>=2.5.0
pandas>=2.2.0
plotly>=5.18.0
python-dotenv>=1.0.1
numpy>=1.26.3
requests>=2.31.0
protobuf>=4.25.2
nltk>=3.8.1
rouge-score>=0.1.2
pycocoevalcap
